*{
    margin: 0px; 
}
.Container {
    width: 120px;
    height: 100vh;
    background: crimson;
    color: white;
    border-radius: 5px;
    
}
.Container p{
    padding: 5px;
    
}
.Container p:hover , button:hover{
    background: black;
    cursor: pointer;
    
}
button{
    background: crimson;
    color: white;
    border: none;
    border-radius: 10px;  
    
}
#close{
    position: absolute;
    left: 125px;
    
}


.hide{
    display: none;
}